body {
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    height: 100vh;
    background: linear-gradient(to top, #00B4DB, #0083B0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Main */ 
.bigContainer{
    display: flex;
}
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(80vh);
    margin-bottom: 20px;
}
.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.login__container--form {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
}
.login__container--form label{
    font-size: 14px;
}
.number_systems {

    /* styling */
    background:none;
    color: #0083B0;
    border: thin solid white;
    border-radius: 6px;
    outline: none;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
.input {
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
    color: white;
}
::placeholder{
    color: white;
}
.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px;
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.445);
}
p span {
    font-weight: bold;
    color: #03163f86;
    word-wrap: break-word;
}

.response {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(80vh);
    margin-bottom: 20px;
}

.response__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}


/*FOOTER*/

.footer{
    display: flex;
    align-items: center;
}

.footer img{
    height: 30px;
    margin-right: 10px;
}

.footer p a{
    color: white;
}

